  <nav id="navmenu">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Comida</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
      <ul class="right hide-on-med-and-down">
    
         </ul>
      </div>
  </nav>
<div id="lugar">
{{#each lugares}}
<div class="tarjeta">
<p>{{this.name}}</p>
<p>{{this.price}} c/u</p>
🚶 5-10 minutos <a href="/comida/{{this._id}}">Ir</a>
</div>
{{/each}}
  </div>