<<<<<<< HEAD
<h1>Bienvenido a</h1>
<img src="images/Logo.jpeg" alt="Ironplaces_Logo">
<div id="btninicio">
<a href="/login">Ingresa a tu cuenta</a>
<a href="/signup">Crea una cuenta</a>
</div>
=======
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
>>>>>>> d011348520df1f49fc75f15254a50ea6155b6302
