  <nav id="navmenu">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Ironplaces</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
      <ul class="right hide-on-med-and-down">

         </ul>
      </div>
  </nav>
<br>
<h4 id="preg">¿Qué deseas buscar?</h4>
<br>
<div id="menu">
  <div class="menu">
<img src="/images/desayuno.jpeg" alt="">
<a href="">Desayuno</a>
</div>
<div class="menu">
<img src="/images/comida.jpeg" alt="">
<a href="/comida">Comida</a>
</div>
<div class="menu">
<img src="/images/bares.jpeg" alt="">
<a href="">Bares</a>
</div>
<div class="menu">
<img src="/images/medico.jpeg" alt="">
<a href="">Atención médica</a>
</div>

</div>
<a href="/logout">logout</a>
<footer>Todos los lugares indicados con recomendados por la comunidad Ironhacker ♥</footer>