<h1>menu</h1>

<div id="menu"></div>
<img src="/images/desayuno.jpeg" alt="">
<a href="">Desayuno</a>
<img src="/images/comida.jpeg" alt="">
<a href="/comida">Comida</a>
<img src="/images/bares.jpeg" alt="">
<a href="">Bares</a>
<img src="/images/medico.jpeg" alt="">
<a href="">Atención médica</a>
<a href="/logout">logout</a>
</div>

<footer>Todos los lugares indicados con recomendados por la comunidad Ironhacker ♥</footer>